/* @general styles
---------------------------------------------------------------*/
body,div,ul,li,h4{  margin:0;padding:0;}
body {  width:85%; margin:0 auto; 
font-family:"Lucida Grande","微软雅黑",Verdana,Lucida,Arial,Helvetica,"宋体",sans-serif;}
/*  @mainNav
----------------------------------------------------------------*/
#mainNav{
	margin:8% 0 12px;
	list-style-type:none;
	overflow:hidden;
}
#mainNav li{  float:left;}
#mainNav li a{  display:block; text-decoration:none; color:#666; font-size:20px; padding:0 1em; border-right:1px solid black;}
#mainNav li:last-child a{  border-right:none;}

/*  @content
-----------------------------------------------------------------*/
.content{  padding:20px; width:75%; border-top:1px solid #999;}

/*  @rightNav
-----------------------------------------------------------------*/
#rightNav{  width:20.8%; position:fixed; right:5%; top:25%; list-style-type:none; 
border-left:1px solid #999;}
#rightNav>li{  text-indent:1em; margin:0.5em 0; text-indent:1em;}
#rightNav li ul{  list-style-type:none; padding-left:1.5em;}
#rightNav li ul a{  display:block; font-size:18px; text-decoration:none; color:#666;}
#rightNav li ul a:hover{  font-weight:bold;}

/*  @index  */
#helloWorld{  width:400px; margin:0 auto; position:relative;}
#helloWorld div{ position:absolute; opacity:0.4;
height:240px; width:240px; border-radius:50%;
animation: round 3s infinite;
-moz-animation: round 3s infinite;
-webkit-animation: round 3s infinite;
-o-animation: round 3s infinite;
animation-timing-function:linear;
-moz-animation-timing-function:linear;
-webkit-animation-timing-function:linear;
-o-animation-timing-function:linear;}

#helloWorld div.leftDiv{ border:20px solid #FF0000; clip:rect(0px 140px 280px 0px);}

#helloWorld div.rightDiv{ border:20px solid #00FF00; clip:rect(0px 280px 280px 140px);}

#helloWorld div.upDiv{ border:20px solid #0000FF; 
clip:rect(0px 280px 140px 0px);}

#helloWorld div.downDiv{ border:20px solid #000000; 
clip:rect(140px 280px 280px 0px);
animation: round 6s infinite;}

@keyframes round{
	from{transform:rotate(0deg);}
	to{transform:rotate(360deg);}
}
@-moz-animation-keyframes round{
	from{transform:rotate(0deg);}
	to{transform:rotate(360deg);}
}
@-webkit-keyframes round{
	from{transform:rotate(0deg);}
	to{transform:rotate(360deg);}
}
@-o-keyframes round{
	from{transform:rotate(0deg);}
	to{transform:rotate(360deg);}
}

/*  @books  */
#bookRead{  margin-top:1em;}
#bookRead li ul{  list-style-type:none;}

/*  @html  */
#html p{  text-indent:2em;}

/*  @js  */
#js article{ border-bottom:1px dotted gray; padding-bottom:2em;}
#js article p{ margin-left:1em;}
#js_1 ul{  list-style-type:none;}
#js_1 ul li{ margin:0.5em 1em;}
/*  @about  */
#about{  margin-top:1em;}
